<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jam.joshfernandez_quizme">

    <!-- Accessing camera hardware -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--Icon from: https://www.flaticon.com/free-icon/creativity_349382#term=education&page=1&position=49-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/quizme_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/quizme_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RegisterActivity"
            android:label="Sign Up as a new QuizMe user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Log-In to QuizMe" />
        <activity android:name=".MainMenuActivity" />
        <activity
            android:name=".DisplayFlashcardsActivity"
            android:label="Your Flashcard Set" />
        <activity
            android:name=".CreateFlashcardActivity"
            android:label="Create New Flashcard" />
        <activity
            android:name=".SettingsActivity"
            android:label="Your Profile Settings" />
        <activity android:name=".HeadsUpActivity" android:label="Heads Up Game"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>